extends default

block content
  div.reviewContainer
    h3#pageTitle 
        | #{Deck}
    p#question #{Question}

    form(method='post' action='/api/multiplechoice/a')
        // name section of the buttons below is passed in body of html request 
        // can be accessed in .get and .post etc as req.body.NAME 
        button.btn.btn-review(type='submit', name='answer', value=ans1) #{ans1}
        button.btn.btn-review(type='submit', name='answer', value=ans2) #{ans2}
        button.btn.btn-review(type='submit', name='answer', value=ans3) #{ans3}
        button.btn.btn-review(type='submit', name='answer', value=ans4) #{ans4}
